<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cellz.clothing</title>
  <link rel="stylesheet" href="icon/themify-icons-font/themify-icons/themify-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html{
        font-family: Arial, Helvetica, sans-serif;
      }

      /* Phần Header*/
      #nav{
        display: inline-block;
      }

      #header{
        height: 46px;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }


      #nav, .subnav{
        list-style: none;
      }
      #nav > li{
        display: inline-block;
      }
      #nav li{
        position: relative;
      }

      #nav > li > a{
        color: #fff;
        text-transform: uppercase;
      }

      #nav li a{
        text-decoration: none;
        line-height: 46px;
        padding: 0 20px;
        display: block;
      }
      #nav li:hover .subnav{
        display: block;
      }

      #nav > li:hover > a{
        color: #000;
        background-color: #ccc;
      }

      #nav .subnav{
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        width: 150px;
      }
      #nav .subnav a{
        color: #000;
      }
      #nav .subnav li:hover{
        color: #000;
        background-color: #ccc;
        opacity:1;
        width: 150px;
      }

      /* Phần ICON*/
      #header .search-btn{
        float: right;
        padding: 0 10px;
        cursor: pointer;
      }
      #header .search-btn:hover{
        background-color: #f44336;
      }
      #header .search-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }
      /* user */
      #header .user-btn{
        float: right;
        padding: 0 10px;
        cursor: pointer;
      }
      #header .user-btn:hover{
        background-color: #f44336;
      }
      #header .user-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }
      /* shopping */
      #header .shopping-btn{
        float: right;
        padding: 0 10px;
        cursor: pointer;
      }
      #header .shopping-btn:hover{
        background-color: #f44336;
      }
      #header .shopping-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }

      /*footer*/

      #footer{
        background-color: black;
        padding: 30px 5px;
        text-align: center;

      }

      #footer .anhbia-img{
       width: 500px;

      }
      #footer p{
        color: #ccc;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      #footer .socical-list{
        font-size: 30px;
        padding: 0 10px;

      }
      #footer .socical-list a{
        color: #ccc;
        text-decoration: none;
      }
      #footer .socical-list a:hover{
        color: gray;
      }
      /* gio hang */
      .container{
        padding: 100px 0;
      }
      .head-link{
        margin-top: -50px;
      }
      .head-link p{
        margin-top: 50px;
        font-family: 'Courier New', Courier, monospace;
        margin: 0 12px;
        font-size: 12px;
        display: inline-block;
        color: #000;
      }
      .headline{
        text-align: center;

      }
      h3{
        margin-top: 10px;
        font-size: 30px;
        padding: 10px 20px;
        text-transform: uppercase;
        display: inline-block;
        color: #ccc;
        margin-bottom: 10px;

      }
      .cart-content{
        display: flex;
      }
      .cart-content-left{
        flex: 2;
        padding: 10px;
      }
      .cart-content-left table{
        width: 100%;
        text-align: center;
        margin-right: 200px;
      }
      .cart-content-left table th{
        padding-bottom: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
        border-collapse: collapse;
        border-bottom: 2px solid #dddddd;

      }
      .cart-content-left table p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        color: #333;
      }
      .cart-content-left table input{
        width: 30px;
      }
      .cart-content-left table span{
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #dddddd;
        cursor: pointer;
      }
      .cart-content-left .cart-img{
        width: 130px;
      }
      .cart-content-left table td{
        padding: 20px 0;
        border-bottom: 2px solid #dddddd;
      }
      .cart-content-left td:nth-child(2){
        max-width: 130px;
      }
      .cart-content-right{
        flex: 1;
        padding-left: 10px;
        border-left: 2px solid #dddddd;
        margin-top: 80px;
      }
      .cart-content-right table{
        width: 100%;
      }
      .cart-content-right table th{
        padding-bottom: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: #333;
        border-collapse: collapse;
        border-bottom: 2px solid #dddddd;
      }
      .cart-content-right table td{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: #333;
        padding: 6px 0;
      }
      .cart-button-right{
        margin-top: 12px;
        text-align: center;
        align-items: center;
      }
      .btn--pay{
        color: #fff;
        background-color: #000;
        padding: 0 30px ;
        font-size: 20;
        height: 35px;
      }
      .btn--shopping{
        color: #fff;
        background-color: #000;
        padding: 0 10px ;
        font-size: 20;
        height: 35px;
      }
      .btn--pay:hover , .btn--shopping:hover{
        background-color: #ccc;
        color: #000;
        cursor: pointer;
      }
</style>
</head>
<body>
  <!----Header-->
<div id="main">
  <div id="header">
    <ul id="nav">
    <li><a href="/">Home</a></li>
      <li>
        <a href="/product">Shopping</a>
        <ul class="subnav">
          <li><a href="">T-Shirt</a></li>
          <li><a href="">Dress</a></li>
          <li><a href="">Pants</a></li>
          <li><a href="">Accessories</a></li>
        </ul>
      </li>
      <li><a href="">Instagram</a></li>
      <li><a href="">About Us</a></li>
    </ul>
<!----End Header-->

<!----Icon-->
<div class="shopping-btn">
  <a style="text-decoration: none" href="#">
  <i class="shopping-icon ti-shopping-cart"></i>
  </a>
  </div>

  <div class="user-btn">
    <a style="text-decoration: none" href="/user">
    <i class="user-icon ti-user"></i>
    </a>
  </div>
  <div class="search-btn">
    <i class="search-icon ti-search"></i>
    </div>
  </div>
<!----End Icon-->
<!---- Gio hang-->
<div class="container">
  <div class="head-link">
    <p>Home</p><span>&#10230;</span><p>Shopping Cart</p>
  </div>
  <% if (messages.success_msg) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert"><%= messages.success_msg %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  
  <% if (messages.error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert"><%= messages.error %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>
  <div class="headline">
    <h3>Your Cart</h3>
  </div>
<div class="cart-content">
    <div class="cart-content-left">
      <table>
        <tr>
          <th>Items</th>
          <th>Name Item</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
        
        <% if (product.length > 0) { %>
          <% for(let index = product.length - 1; index >= 0; index--) { %> 
              <tr>
                <form action="/updatecart" method="post">
                  <td><img src="<%=product[index].imgSP%>" alt="" class="cart-img"></td>
                  <td><p><%=product[index].nameSP%></p></td>
                  <td><p><%=product[index].size%></p></td>
                  <td><input type="number" name="soLuong" value="<%=product[index].soLuong%>" min="1"></td>
                  <td><p><%=product[index].giaBan%></p></td>
                  <input name="idSP" value="<%=product[index].idSP%>" hidden>
                  <input name="size" value="<%=product[index].size%>" hidden>
                  <td><button type="submit" name="action" value="update">V</button></td>
                  <td><button type="submit" name="action" value="delete">X</button></td>
                </form>
              </tr>
          <% } %>
          <% } %>
      </table>
    </div>
    <div class="cart-content-right">
        <table>
          <tr>
            <th colspan="2">Information Your Items</th>
          </tr>
          <tr>
          <td>Gross product</td>
          <td><%=gross%></td>
          </tr>
          <tr>
            <td>Total amount</td>
            <td><p><%=total%> VND</p></td>
          </tr>
        </table>
        <div class="cart-button-right">
          <button class="btn--pay" type="submit"><a href="/pay">Pay Now</a></button>
          <button class="btn--shopping"><a href="/product">Back Shopping</a></button>
        </div>
    </div>
  </div>
</div>



<!----footer-->
  <div id="footer">
      <div class="anhbia">
        <img src="image/Slider/a.jpg" alt="bia" class="anhbia-img">
      </div>
      <p class="about">About Us</p>
      <div class="socical-list">
        <a href=""><i class="ti-truck"></i></a>
        <a href=""><i class="ti-package"></i></a>
        <a href=""><i class="ti-headphone-alt"></i></a>
        <a href=""><i class="ti-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>