<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cellz.clothing</title>
  <link rel="stylesheet" href="icon/themify-icons-font/themify-icons/themify-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html{
        font-family: Arial, Helvetica, sans-serif;
      }

      /* Phần Header*/
      #nav{
        display: inline-block;
      }

      #header{
        height: 46px;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }


      #nav, .subnav{
        list-style: none;
      }
      #nav > li{
        display: inline-block;
      }
      #nav li{
        position: relative;
        right: 32px;
      }

      #nav > li > a{
        color: #fff;
        text-transform: uppercase;
      }

      #nav li a{
        text-decoration: none;
        line-height: 46px;
        padding: 0 20px;
        display: block;
      }
      #nav li:hover .subnav{
        display: block;
      }

      #nav > li:hover > a{
        color: #000;
        background-color: #ccc;
      }

      #nav .subnav{
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        width: 150px;
      }
      #nav .subnav a{
        color: #000;
      }
      #nav .subnav li:hover{
        color: #000;
        background-color: #ccc;
        opacity:1;
        width: 150px;
      }

      /* Phần ICON*/
      #header .search-btn_tem{
        float: right;
        padding: 0 15px;
        cursor: pointer;
      }

      #search-box{
        background: #000;
        height: 46px;
      }
      #search-box #search-text{
        background-color: #fff;
        border: none;
        outline: none;
        padding: 10px 0px;
        font-size: 20px;
        width: 0px;
        transition: all 0.25s ease-in-out;
      }
      #header #search-box #search-btn{
        color: #fff;
        background-color: #000;
        height: 30px;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 20px;
        margin-top: -2px;
        cursor: pointer;
      }
      #header #search-box:hover #search-text {
        width: 300px;
        padding: 0 10px ;
      }
      ::placeholder{
        font-size: 15px;
      }

      /* user */
      #header .user-btn{
        float: right;
        padding: 0 15px;
        cursor: pointer;
      }
      #header .user-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }
      /* shopping */
      #header .shopping-btn{
        float: right;
        padding: 0 15px;
        cursor: pointer;
      }
      #header .shopping-btn a{
        text-decoration: none;
      }
      #header .shopping-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }
      #header .shopping-icon:hover{
        color: #fff;
      }
      .shopping-btn{
        position: relative;
      }
      .shopping-btn:hover .shopping_list{
        display: none; /*Hieen len la block*/
      }
      .shopping_list{
        position: absolute;
        top: 100%;
        margin-top: 4px;
        right: 10px;
        background-color: #000;
        width: 300px;
        border-radius: 12px;
        box-shadow: 0 1px 10px #ccc;
        display: none;
      }
      .shopping_list--no-item{
        padding: 28px 0;
      }
      .shopping-no-item-img{
        width: 100%;
        display: none;
      }
      .shopping-notice{
        position: absolute;
        padding: 6px 2px;
        line-height: 2rem;
        background-color:#000;
        color: #fff;
        top: -8px;
        font-size: 15px;
      }
      #header .shopping-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
      }

      /*footer*/

      #footer{
        background-color: black;
        padding: 30px 5px;
        text-align: center;

      }

      #footer .anhbia-img{
       width: 500px;

      }
      #footer p{
        color: #ccc;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      #footer .socical-list{
        font-size: 30px;
        padding: 0 10px;

      }
      #footer .socical-list a{
        color: #ccc;
        text-decoration: none;
      }
      #footer .socical-list a:hover{
        color: gray;
      }
      /* chitiet sp */
      #product{
        padding: 100px 0;
      }
      .head-link{
        margin-top: 50px;
      }
      .head-link p{
        margin-top: 50px;
        font-family: 'Courier New', Courier, monospace;
        margin: 0 12px;
        font-size: 12px;
        display: inline-block;
        color: #000;
      }
      .product-content{
        margin-top: 12px;
        display: flex;
      }
      .product-content-left{
        flex: 2;
        padding: 10px;
        display: flex;
      }
      .product-content-left-big-img{
        flex: 2;
        width: 60%;
      }
      .product-content-left-big-img .product-big-img{
        width: 60%;
        margin-left: 150px;
      }
      /*
      .product-content-left-small-img{
        width: 20%;
        flex: 1;
      }
      .product-content-left-small-img .product-small-img{
        width: 70%;
      }*/
      .product-content-right{
        flex: 1.5;
        margin-right: 50px;
      }
      .product-content-right-pro-name{
        margin-top: 40px;
      }
      .product-content-right-pro-name h1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
      }
      .product-content-right-pro-name p{
        color: #ccc;
        font-size: 12px;
        border-collapse: collapse;
        border-bottom: 2px solid #dddddd;
      }
      .product-content-right-pro-price{
        margin: 12px 0;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
      }
      .size span{
        display: inline-block;
        padding: 3px 6px;
        border: 1px solid #dddddd;
        margin: 12px 10px 12px 0;
        font-size: 12px;
        cursor: pointer;
        background-color: #ccc;
      }
      select{
        background-color: antiquewhite;
      }
      .quantity{
        margin-top: 18px;
        display: flex;
        margin-bottom: 20px;
      }
      .quantity input{
        width: 40px;
        height: 28px;
        padding-left: 3px;
        margin-left: 3px;
        background-color: antiquewhite;
        cursor: pointer;
      }
      .btn--buynow{
        width: 150px;
        height: 40px;
        display: block;
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
      .btn--add{
        margin-top: 12px;
        width: 150px;
        height: 40px;
        display: block;
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
      /* san pham lq */
      #product-rela{
        max-width: 12000px;
        margin: 0 auto;
        margin-top: 46px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        line-height: 1.15;
        color: #777;
      }
      .headline{
        text-align: center;
        margin: 40px 0;
      }
      h3{
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        display: inline-block;
      }
      ul.products-rela{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      ul.products-rela li{
        flex-basis: 25%;
        padding: 10px 10px;
        margin-bottom: 30px;
      }
      ul.products-rela li img{
        width: 300px;
        height: 500px;
      }
      ul.products-rela li .product-top .product-pic{
        display: block;
      }
      ul.products-rela li .product-top .product-pic img{
        display: block;
      }
      ul.products-rela li .product-top a.buy-now{
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: #000;
        color: #fff;
        padding: 10px 0;
        width: 300px;
        transition: 0.25s ease-in-out;
        opacity: 0.85;
      }
      ul.products-rela li:hover a.buy-now{
        background-color:#9e9e9e;
        color: #ccc;

      }
      ul.products-rela li .product-info{
        padding: 20px 0;
      }
      ul.products-rela li .product-info a{
        display: block;
        text-decoration: none;
      }
      ul.products-rela li .product-info a.product-cate{
        font-size: 12px;
        text-transform: uppercase;
        color: #9e9e9e;
      }
      ul.products-rela li .product-info a.product-name{
        font-size: 12px;
        text-transform: uppercase;
        color:#000;
      }
      ul.products-rela li .product-info .product-price{
        font-size: 12px;
        text-transform: uppercase;
        color:#000;
        font-weight: 600;
      }
</style>
</head>
<body>
  <!----Header-->
<div id="main">
  <div id="header">
    <ul id="nav">
      <li><a href="/">Home</a></li>
        <li>
          <a href="/product">Shopping</a>
          <ul class="subnav">
            <li><a href="/shirt">T-Shirt</a></li>
            <li><a href="/dress">Dress</a></li>
            <li><a href="/pants">Pants</a></li>
            <li><a href="/accesscories">Accessories</a></li>
          </ul>
        </li>
        <li><a href="">Instagram</a></li>
        <li><a href="">About Us</a></li>
      </ul>
<!----End Header-->

<!----Icon-->
<div class="shopping-btn">
  <a style="text-decoration: none" href="/cart">
    <i class="shopping-icon ti-shopping-cart"></i>
  </a>
  </div>

  <div class="user-btn">
    <a style="text-decoration: none" href="/user">
      <i class="user-icon ti-user"></i>
    </a>
  </div>
  <div class="search-btn_tem">
    <form action="/search" id="search-box">
      <input type="text" autocomplete="off" id="search-text"
      placeholder="Search your item"  name="product" required>
      <button id="search-btn"><i class="search-icon ti-search"></i></button>
    </form>
  </div>
  </div>
<!----End Icon-->

<!---- Chi tiet sp-->
<div class="product">
  <div class="head-link">
    <p>Home</p> <span>&#10230; </span> <p><%=product[0].nameDM%></p> <span>&#10230; </span> <p><%=product[0].nameSP%></p>
  </div>

<form action="/cart" method="post">
  <% if (messages.success_msg) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert"><%= messages.success_msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

  <% if (messages.error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert"><%= messages.error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>

<div class="product-content">
    <div class="product-content-left">
      <div class="product-content-left-big-img">
        <img src="<%=product[0].imgSP%>" alt="Jumpsuit Spring" class="product-big-img">
      </div>
      <!--
      <div class="product-content-left-small-img">
        <img src="image/" alt="Jumpsuit Spring" class="product-small-img">
        <img src="image/product/sp8-1.jpg" alt="Jumpsuit Spring" class="product-small-img">
      </div>
    </div>-->

    <div class="product-content-right">
      <div class="product-content-right-pro-name">
        <h1><%=product[0].nameSP%></h1>
        <p>SP<%=product[0].idSP%></p>
      </div>
      <div class="product-content-right-pro-price">
        <p><%=product[0].giaBan%> VND</p>
      </div>
      <div class="product-content-right-pro-size">
        <p style="font-weight: bold;">Size</p>


            <input name="idSP" value="<%=product[0].idSP%>" hidden>
            <input name="nameSP" value="<%=product[0].nameSP%>" hidden>
            <input name="giaBan" value="<%=product[0].giaBan%>" hidden>
            <input name="imgSP" value="<%=product[0].imgSP%>" hidden>
            <select name="size" id="size">
              <%for(let index = sizes.length-1; index >=0 ; index--) { %>
                  <option value="<%=sizes[index].size%>"><%=sizes[index].size%></option>
              <% } %>
            </select>

            <div class="quantity">
              <p style="font-weight: bold;">Quantity:</p>
              <input type="number" min="0" value="1" name="soLuong">
            </div>

            <div class="product-right-button">
              <button class="btn--add" type="submit">Add Cart</button>
            </div>


      </div>
    </div>
  </div>
</form>
</div>

<!----sanphamlienquan-->
<div id="product-rela">
  <div class="headline">
    <h3>Related Products</h3>
    <ul class="products-rela">
      <% if(productDiff.length <= 4) { %>
        <% for( let index = productDiff.length - 1; index >= 0; index-- ) { %>
          <li>
            <div class="product-item">
              <div class="product-top">
                <p><img src="<%=productDiff[index].imgSP%>" alt=""> </p>
                <!--
                <a href="" class="product-pic">
                  <img src="<%=productDiff[index].imgSP%>" alt="">
                </a>-->
                <!--mua ngay-->
                <a href="" class="buy-now">Buy Now</a>
              </div>
              <div class="product-info">
                <a href="" class="product-cate"><%=productDiff[index].nameDM%></a>
                <a href="" class="product-name"><%=productDiff[index].nameSP%></a>
                <div class="product-price"><%=productDiff[index].giaBan%></div>
              </div>
            </div>
          </li>

        <% } %>
      <% } else { %>
        <% for( let index = 0; index < 4; index++ ) { %>
          <li>
            <div class="product-item">
              <div class="product-top">
                <a href="" class="product-pic">
                  <img src="<%=productDiff[index].imgSP%>" alt="">
                </a>
                <!--mua ngay-->
                <a href="/productDetail?id=<%=productDiff[index].idSP%>" class="buy-now">Buy Now</a>
              </div>
              <div class="product-info">
                <a href="" class="product-cate"><%=productDiff[index].nameDM%></a>
                <a href="" class="product-name"><%=productDiff[index].nameSP%></a>
                <div class="product-price"><%=productDiff[index].giaBan%></div>
              </div>
            </div>
          </li>
        <% } %>
      <% } %>

    </ul>
  </div>
</div>



<!----footer-->
  <div id="footer">
      <div class="anhbia">
        <img src="image/Slider/a.jpg" alt="bia" class="anhbia-img">
      </div>
      <p class="about">About Us</p>
      <div class="socical-list">
        <a href=""><i class="ti-truck"></i></a>
        <a href=""><i class="ti-package"></i></a>
        <a href=""><i class="ti-headphone-alt"></i></a>
        <a href=""><i class="ti-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>